/* poiret-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poiret-one-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baumans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Baumans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baumans-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root{
  /* Primary Water Blues */
--primary-blue: #007BFF;
--light-blue: #4DA6FF;
--deep-blue: #0052CC;
--sky-blue: #dfe5e9;
--silver: #C0C0C0;
--light-grey: #D9D9D9;
--medium-grey: #9E9E9E;
--dark-grey: #666666;
--white: #FFFFFF;
--black: #000000;
--water-primary: var(--primary-blue);
--water-highlight: var(--sky-blue);
--water-shadow: var(--deep-blue);
--gear-primary: var(--silver);
--gear-highlight: var(--light-grey);
--gear-shadow: var(--dark-grey);
--water-gradient: linear-gradient(135deg, var(--sky-blue), var(--primary-blue), var(--deep-blue));
--gear-gradient: linear-gradient(135deg, var(--light-grey), var(--silver), var(--medium-grey));
--font-1: "Lilita One";
--font-2: "Poiret One";
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body{
  display: flex;
  height: 100vh;
  align-items: center; 
  width: 100%;
  justify-content: center;
  background-color: var(--sky-blue);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: calc(15 / 16 * 1rem);
  height: 31rem;
  width: 18rem;
  background-color: var(--white);
  border-radius: calc(20 / 16 * 1rem);
}

.logo{
  height: calc(140 / 16 * 1rem);
  width: calc(140 / 16 * 1rem);
}

.main-title, .alt-title{
  font-family: var(--font-1);
  font-size: calc(18 / 16 * 1rem);
  font-weight: 400;
}

.sub-title{
  font-family: var(--font-2);

}